:root{
    --a:0;
}

*{
    margin: 0;
    padding: 0;
}

/*to create left side*/
.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

body{
    background-color: black;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;/*placing the first item at the start and the last item at the end of the container*/
    gap: 4px;
    background-color: rgb(34 34 34);
}

.header  > *{ /* (> directs only child elements*)*/
    padding: 20px;
}

.spotifyplaylist{
    padding: 16px;
}

.spotifyplaylist .card{
    width: 200px;
    background-color: #252525;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    transition: all .9s;
}

.cardcontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: auto;
    width: 100%;
    /* justify-content: center; */
 
}

.card:hover{
    background-color: rgb(85, 82, 82);
    cursor: pointer;
    --a: 1;
}

.card > *{
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    top: 195px;
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 88px;
    right: 10px;
    opacity: var(--a);
    transition: all 1s ease-out;
}



.signupbtn{
    background-color:rgb(34 34 34) ;
    color: rgb(164, 158, 158);
    border: none;
    font-weight: bold;
    outline: none;
    font-size: 15px;
    cursor: pointer; /*the pointer icon will become hand*/

}

.signupbtn:hover{
    font-size: 18px;
    color: white;
}

.button > *{
    margin: 0 12px;
}

.loginbtn{
    background-color: white;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    width: 75px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

.loginbtn:hover{
    font-weight: bold;
    font-size: 16px;

}

.playbar{
    position:fixed;
    bottom: 30px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 10px;
    width: 70vw;
    padding: 12px;
    margin-right: 150px;
    min-height: 40px;
}

.songbtn{
    display: flex;
    justify-content: center;
    gap: 10px; 
    cursor: pointer;
}

.songList ul{
    padding: 0 12px;
}

.hamburger{
    display: none;
}

.songList ul li{
    list-style-type:  decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 12px 5px;
    border: 1px solid white; 
    margin: 10px 0;
    border-radius: 5px;
    width: 300px;
    justify-content: space-between;
}

.songList .info{
    font-size: 13px;
    width: 344px;
}

.playn{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.playn span{
    font-size: 15px;
    width: 64px;
    padding: 7px;

}

.songList{
    height: 444px;
    overflow: auto;
    margin-bottom: 44px;
}

.seekbar{
    height: 4px;
    width: 99%;
    background:  black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    left: 0%;
}

.circle{
    width: 13px;
    background-color: black;
    height: 13px;
    border-radius: 13px;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songinfo , .songtime{
    color: black;
    padding: 5px 0;
}

.close{
    display: none;
}

.abovebar{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.hamburgercont{
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

@media (max-width: 1460px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        /* padding: 0;
        height: 100vh;
        position: fixed;
        top: 0; */
    }

    .left .close{
        position: absolute;
        top: 25px;
        right: 25px;
        width: 29px;
    }

    .right{
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px); 
    }

    .hamburger{
        display: block;
    }

    .cardcontainer{
        justify-content: center;
        margin: 0;
    }

    .cardcontainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }
    
    .card {
        width: 55vw;
    }

    .right{
        margin: 0;
    }

    .close{
        display: block;
    }

    .songinfo,
    .songtime {
        width: auto;
    }


    /* .abovebar{
        flex-direction: column;
        gap:23px;
        align-items: center;
    } */
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }
}