*{
    margin: 0;
    padding: 0;
}

/*to create left side*/
.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
    margin: 16px 0;
}

body{
    background-color: black;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;/*placing the first item at the start and the last item at the end of the container*/
    gap: 4px;
    background-color: rgb(34 34 34);
}

.header  > *{ /* (> directs only child elements*)*/
    padding: 20px;
}

.spotifyplaylist{
    padding: 16px;
}

.spotifyplaylist .card{
    width: 200px;
    background-color: #252525;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.cardcontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: scroll;
    max-width: 50vh;
}

.card > *{
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    position: absolute;
    top: 162px;
    right: 14px;
    opacity: 0;/*hides the element(paly button)*/
    transition: all 1s ease-out;
}